body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: auto;
  margin-right: auto;
  max-width: 3200px;
  background-color: rgb(48, 126, 155);
  /* background-image: url(./pics/brandon-day-oCJuJQqvCzc-unsplash.jpg); */
  background-attachment: cover;
}



header{
  max-width: 3200px;
  border-bottom: 1px solid rgb(17, 17, 17);
  background-color: rgb(48, 126, 155);
}

section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px auto;
}

.prueba{
  background-color:rgb(207, 200, 188);
}

section main{
  background-attachment: cover;
}