body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: none;
  /* color: white; */
  /* width: 1200px; */
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(46, 137, 173);
}



header{
  max-width: 3200px;
  border-bottom: 1px solid rgb(17, 17, 17);

}

section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* margin: 10px auto; */
}

main{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px auto;
}

.prueba{
  background-color:rgb(14, 53, 46);
}

section main{
  /* background-image: url(http://m.gettywallpapers.com/wp-content/uploads/2020/11/Dogs-Wallpaper-Desktop.jpg); */
  background-attachment: cover;
}